body {
    background-color: #121212;
    color: #ffffff;
}
a {
    color: #bb86fc;
}
a:hover {
    color: #3700b3;
}
li {
    border-color: #444;
}

#timer-view {
    border-color: #444;
    background-color: #1e1e1e;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}
